@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@font-face {
    font-family: "doves";
    src: url("doves.ttf.xhtml?ln=fonts");
}

@font-face {
    font-family: acki;
    src: url("AckiPreschool.ttf.xhtml?ln=fonts");
}

* {
    margin: 0;
    padding: 0;
}

html body {
    margin: 0;
    padding: 0;
    background: #294072;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul li {
    list-style: none;
    height: 40px;
    margin: 15px 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

form {
    display: block;
}

input {
    text-indent: 5px;
}

#login-div {
    width: 390px;
    margin: 0 auto;
    background-color: #1C2B4A;
    margin-top: 10%;
    border-radius: 10px;
}

#login {
    padding: 0 20px;
}

#login-form {
    display: block;
}

.login-input {
    background: #12192C;
    width: 100%;
    border: none;
    outline: none;
    color: rgba(205, 212, 222, 0.89);
    vertical-align: top;
    height: 40px;
    font-size: 14px;
}

.header {
    height: 80px;
    background-color: #1c2443;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#header-text {
    padding-top: 13px;
    display:block;
    width: 127px;
    height: 100%;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;

}

.btn {
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 8px;
    background: #12bb49;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.menu-div {
    background: #333333;
    position: fixed;
    height: 100%;
    width: 130px;
}

/*Components primefaces panelmenu*/

.ui-state-active a, .ui-state-active a:link {
    color: darkgrey;
    text-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.ui-state-default a, .ui-state-default a:link {
    color: white;
    text-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.ui-panelmenu .ui-panelmenu-header {
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-panelmenu .ui-panelmenu-header .ui-icon {
    display: none;
}



.ui-panelmenu .ui-panelmenu-header a {
    padding-left: 7px !important;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.ui-panelmenu .ui-panelmenu-header a:hover {
    font-family: 'Source Sans Pro', sans-serif;
    background: #14162d;
}

.ui-state-hover a, .ui-state-hover a:link {
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: none;
    background: #14162d;
}

.ui-growl-image {
    background: url("gear.png.xhtml?ln=images");
    background-size: contain;

}

.ui-growl-item-container {
    background: #1C2B4A;
    border: 2px solid white;
}

.ui-growl-message {
    font-family: 'Source Sans Pro', sans-serif;
}

.ui-panelmenu .ui-panelmenu-content {
    background: #333333;
    border: none;
}

.ui-panelmenu .ui-panelmenu-content:nth-child(2) {
    border-bottom: 1px solid green !important;
}

.ui-panelmenu .ui-panelmenu-content:nth-child(3) {
    border-bottom: 1px solid yellow !important;
}

.ui-panelmenu .ui-menuitem-link {
    padding: 0;
    text-align: left;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.ui-panelmenu .ui-corner-all .ui-state-hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    background: #14162d;
}

.ui-panelmenu .ui-panelmenu-panel:first-child {
    border-top: 1px solid red;
}

.ui-panelmenu .ui-panelmenu-panel:nth-child(2) {
    border-top: 1px solid green;
}

.ui-panelmenu .ui-panelmenu-panel {
    background: #1c1c1c;

}

.ui-panelmenu .ui-menuitem {
    height: 25px;
    padding-top: 5px;
}

.ui-menubar {
    padding: 0;
    background: #08302E;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    height: 35px;
}

.ui-menu-list {
    padding-left: 15px;
}

.ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link span.ui-icon-triangle-1-s {
    display: none;
}

.ui-menubar .ui-menuitem:first-of-type .ui-menuitem-link {
    background: url("user.png.xhtml?ln=images") no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
    padding-top: 0;
    margin-top: -3px;
}

.ui-menubar .ui-menuitem .ui-menuitem-link:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-menu .ui-menuitem-text {
    font-family: acki;
}

.studentPanel {
    float: left;
    margin: 40px;
    width: 250px;
}

.hej {
    margin: 0 auto;
    width: 70%;

}

.red {
    height: 100% !important;
    background: transparent !important;

}

.fc-time {
    display: none;
}

.fc-event-container {
    height: 200px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Red_Cross.svg/1000px-Red_Cross.svg.png") center no-repeat !important;
    background-size: contain !important;
}

.attMenu {
    width: 150px;
}

#flex {
    display: flex;
    justify-content: center;
}

.flexC {
    margin: 50px;
}

