html, body {
    margin: 0px;
    padding: 0px;
}

.header-main {
    background: linear-gradient(to bottom, #1578c9, #0b66b1);
    text-align: center;
    padding: 5px;
    margin: 0px;
}

#option-gear {
    height: 35px;
    width: 35px;
    padding-right: 5px;
}

#option-user {
    height: 35px;
    width: 35px;
}

.menu-user {
    background: url("/resources/images/user.png") no-repeat;
    height: 10px;
    width: 10px;

}

.submenu .ui-icon-triangle-1-s{
    display: none;
}
.ui-icon {
    width: 28px;
    height: 28px;
}

.fa-2x {
    font-size: 1.7em;
}
.ui-menuitem-link {
    padding: 0.2em 0.15em;
}

.ui-menu .menu-menuitem {
    margin: -5px;
}
